<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="7aed77d2-08b3-4caf-b8c6-c05fa03d31c8"
    Publisher="CN=tomek"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7aed77d2-08b3-4caf-b8c6-c05fa03d31c8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>LololyricsNextPlayer</DisplayName>
    <PublisherDisplayName>tomek</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="LololyricsNextPlayer.App">
      <uap:VisualElements
        DisplayName="LololyricsNextPlayer"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="LololyricsNextPlayer"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="BackgroundService.BackgroundLyricsService">
          <uap:AppService Name="com.lololyrics.next-player" />
        </uap:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="uwp.music-player.lyrics" Id="Lololyrics" Description="Lyrics from www.lololyrics.com" DisplayName="Lololyrics for Next-Player" PublicFolder="LyricsFolder">
            <uap3:Properties>
              <Service>com.lololyrics.next-player</Service>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
